header, footer {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

p {
    width: 70%;
    margin: 20px auto;
    text-align: justify;
    border: 1px solid black;
    padding: 4px;
}